html, body {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-weight: 300;
    scroll-behavior: smooth;
    font-family: Lato, Arial, Helvetica, sans-serif;
}


input:focus {
        outline: 1px solid #fcfcfc;
}

.contact-form{
	width: 60%;
	margin: 0 auto;
}
.contact-form:last-child{margin-left: 30%;}
input[type=text],
input[type=email],
input[type=submit],

select,
textarea {
	border: 1px solid  #e8e8e8;
	border-radius: 1px;
	width: 100%;
	padding: 7px;
}
textarea{
	height:100px;
}
input[type= checkbox]
{
	margin: 10px 5px 10px 0;
}